<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <header class="site-header">
      <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Red Token logo">
      <h1>Login</h1>
    </header>
    <form method="POST">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <button type="submit">Login</button>
  </form>
  <p><a href="/">Back to Dashboard</a></p>
  </div>
</body>
</html>